<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="کامل‌ترین دوره فارسی Angular  با آموزش پروژه‌محور، پشتیبانی دائمی، آپدیت رایگان و مدرس با تجربه — مناسب برای ورود حرفه‌ای به بازار کار.">


    <title>دوره جامع فارسی Angular (انگولار) | آموزش پروژه‌محور + پشتیبانی دائم</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="js/prism/prism.css">
    <link rel="canonical" href="https://sajjadmaneshi.ir/angular-course.html" />
    <link rel="stylesheet" href="packages/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="styles/course-details.css">

    <meta property="og:title" content="دوره جامع فارسی Angular  | سجاد منشی">
    <meta property="og:description" content="آموزش پروژه‌محور، پشتیبانی دائم، دسترسی همیشگی!">
    <meta property="og:image" content="https://sajjadmaneshi.ir/assets/course/angular-hero.png">
    <meta property="og:url" content="https://sajjadmaneshi.ir/angular-course.html">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="دوره جامع فارسی Angular ">
    <meta name="twitter:description" content="بهترین آموزش پروژه‌محور انگولار با پشتیبانی دائمی و بروزرسانی رایگان">
    <meta name="twitter:image" content="https://sajjadmaneshi.ir/assets/course/angular-hero.png">


    <script src="packages/bootstrap/js/bootstrap.min.js"></script>

    <script type="application/ld+json">

        {
            "@context": "https://schema.org",
            "@type": "Course",
            "name": "انگولار چیست؟ دوره جامع فارسی Angular",
            "description": "آموزش پروژه‌محور انگولار با پشتیبانی دائمی، مدرس حرفه‌ای، مناسب برای بازار کار",
            "provider": {
                "@type": "Organization",
                "name": "سجاد منشی",
                "url": "https://sajjadmaneshi.ir"
            },
            "educationalLevel": "Intermediate",
            "inLanguage": "fa",
            "creator": {
                "@type": "Person",
                "name": "سجاد منشی",
                "url": "https://sajjadmaneshi.ir"
            },
            "offers": {
                "@type": "Offer",
                "price": "4500000",
                "priceCurrency": "IRR",
                "url": "https://zarinp.al/496203",
                "availability": "https://schema.org/InStock"
            },
            "courseMode": "online",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "5",
                "reviewCount": "124"
            },
            "hasCourseInstance": {
                "@type": "CourseInstance",
                "courseMode": "online",
                "startDate": "2025-08-15",
                "endDate": "2025-12-15",
                "location": {
                    "@type": "VirtualLocation",
                    "url": "https://sajjadmaneshi.ir"
                },
                "offers": {
                    "@type": "Offer",
                    "price": "4500000",
                    "priceCurrency": "IRR",
                    "url": "https://zarinp.al/496203",
                    "availability": "https://schema.org/InStock",
                    "category": "Angular Programming Course"
                }

            }
        }



    </script>


</head>
<body>
<nav class="navbar navbar-expand flex-column flex-md-row container">
    <a class="navbar-brand" href="#">

        sajjad maneshi
    </a>

    <div class="d-flex flex-column flex-md-row justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/#home">home</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">
                    about
                </a>

            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/#skill">
                    skills
                </a>

            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/#contact"> contact</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="assets/CV.pdf"
                   download="sajjad-maneshi-CV.pdf"
                   target="_blank">
                    CV
                </a>

            </li>


        </ul>
        <a class="btn  rounded course-button" href="course.html" target="_blank">
            دوره ها
        </a>
    </div>
</nav>
<div class="container py-5 " dir="rtl">

    <div class="row g-3">
        <div class="order-1 col-12 col-lg-4">
            <div class="glass-card mb-3 ">
                <div class="card-body">
                    <div class="d-flex flex-column course-info">
    <span class="d-flex align-items-center justify-content-between">
                  <span class="d-flex align-items-center ">
                      <span class="fs-2">4,500,000</span>
          <span class="fs-6 mx-1">تومان</span>

          </span>


                        <span class="rates d-flex align-items-center  text-warning">
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
        </span>
    </span>


                        <div class="section-info d-grid      text-center">

              <span class="d-flex align-items-center justify-content-between">
                <span class="flex-grow-1">
                  <span class="d-block">تعداد بخش ها</span>
                  <span class="fw-bolder">17</span>
                </span>
              </span>


                            <span class="d-flex align-items-center justify-content-between">

                <span class="flex-grow-1">
                  <span class="d-block">درجه سختی</span>
                    <span class="badge rounded-pill bg-warning fw-bolder text-dark">متوسط</span>

                </span>
              </span>

                        </div>
                        <ul class="course-meta p-0">
                            <li>
                        <span>
                            <span>
                                  <i class="fa-solid fa-language"></i>
                                زبان:
                        </span>
                            <span class="fw-bold">
                                فارسی
                            </span></span>
                            </li>
                            <li>
                         <span>
                            <span>
                          <i class="fa-solid fa-stopwatch"></i>
                                طول دوره:
                        </span>
                            <span class="fw-bold">
                                36 ساعت
                            </span></span>
                            </li>
                            <li>
                         <span>
                            <span>
                            <i class="fa-solid fa-headset"></i>
                                پشتیبانی:
                        </span>
                            <span class="fw-bold">
                               دارد
                            </span></span>
                            </li>
                            <li>
                         <span>
                            <span>
                                    <i class="fa-solid fa-bolt-lightning"></i>
                                بروزرسانی:
                        </span>
                            <span class="fw-bold">
                               دائم
                            </span></span>
                            </li>
                            <li>
                         <span class="d-flex">
                            <span>
                                     <i class="fa-solid fa-audio"></i>
                                وضعیت دوره:
                        </span>
                            <span class="fw-bold">
                               درحال ضبط

                            </span>
               <div class="circle-pulse pulse green"></div>
                         </span>
                            </li>
                        </ul>
                        <a class="btn rounded p-3 register-course-button" target="_blank" role="button"
                           href="https://zarinp.al/496203">ثبت نام </a>
                    </div>
                </div>
            </div>

            <div class="glass-card mb-3">
                <div class="card-body">
                    <label class="fw-bold mb-3">پیش نیاز ها</label>
                    <p class="fw-lighter ">
                        انگولار به طور گسترده ای برای توسعه وب استفاده می شوددرنتیجه پیش نیازهایی وجود دارد که شما باید
                        قبل از یادگیری انگولار به آنها مسلط باشید :
                    </p>
                    <ul class="fw-lighter p-3">
                        <li>دانش کامل HTML , CSS و جاواسکریپت</li>
                        <li>آشنایی جزئی با معماری MVC (Model-View-Controller)</li>
                        <li>آشنایی پایه با Node.js و NPM</li>
                        <li>تجربه کار با Command line</li>
                        <li>تجربه کار با typescript</li>
                    </ul>


                </div>
            </div>
            <div class="glass-card">
                <div class="card-body">
                    <label class="fw-bold  mb-3 d-block">مدرس دوره</label>

                    <span class="fs-3">سجاد منشی</span>
                    <p class="fw-lighter">برنامه نویسی رو از سال 95 با جاوا و اندروید شروع کردم ,
                        به مدت 2 سالم با C# و .Net core کار میکردم ؛بعدش دیگه وارد حوزه وب شدمو چند ساله بطور جدی که با
                        فریموورک انگولار کار میکنم در کنارش توی حوزه DevOps و توسعه اپلیکیشن با فلاتر هم فعالیت دارم و
                        اینجام تا تجربیاتمو در اختیارتون بزارم.☺️</p>
                </div>
            </div>


        </div>
        <div class="order-0 col-12  col-lg-8">
            <div class="card rounded  glass-card">
                <div class="card-body">
                    <div class="card rounded-3 course-info mb-3">
                        <div class="card-body d-flex justify-content-between position-relative">
                            <div class="flex-grow-1 course-base-info">

                                <h1 class="fs-2 fw-bolder">دوره جامع متخصص انگولار</h1>


                                <p>در دوره فارسی انگولار قصد دارم که به صورت کاملا پروژه محور شما را با فریموورک جذاب
                                    و کامل
                                    انگولار برای طراحی و توسعه وب اپلیکیشن های حرفه ای با هر مقیاسی آشنا کنم.</p>
                                <span class="badge rounded-pill btn-bg-success p-3 text-dark">تمام دوره ها دارای پشتیبانی و آبدیت می باشند.</span>


                            </div>
                            <img alt="آموزش جامع Angular  به زبان فارسی - سجاد منشی" src="assets/course/angular-hero.png">

                        </div>

                    </div>
                    <div class="course-details">
                        <p>
                            تهیه شده توسط <strong><a href="https://sajjadmaneshi.ir">sajjadmaneshi.ir</a></strong>
                        </p>
                        <h3>انگولار – فریم وورک توسعه وب برای ساخت آینده</h3>


                        <div class='vidcontainer w-100'>
                            <video id="player" playsinline controls data-plyr-config='{"quality": {"default": 1080, "options": [1080, 720]}}'>
                                <source src="https://s32.picofile.com/d/8479583892/02cfd1f2-57d4-44ba-9367-a884ec92f49b/demo_1080.mp4" type="video/mp4" size="1080">
                                <source src="https://s32.picofile.com/d/8479583868/eeca2451-d351-4bf0-801f-23815c109c5b/demo_720.mp4" type="video/mp4" size="720">
                            </video>

                        </div>

                        <hr>

                        <label class="mb-3">سرفصل های دوره</label>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                        مقدمه
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ol>
                                            <li>
                                                معرفی
                                            </li>
                                            <li>
                                                نصب و راه اندازی
                                            </li>
                                            <li>
                                                انگولار و انگولار js
                                            </li>
                                            <li>
                                                نقشه راه
                                            </li>
                                            <li>
                                                اولین پروژه
                                            </li>
                                            <li>
                                                ساختار پروژه های انگولاری
                                            </li>
                                            <li>
                                                ساختار پروژه های انگولاری
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        اصول اولیه
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ol>
                                            <li>
                                                معرفی
                                            </li>
                                            <li>
                                                انگولار چطور اجرا میشود
                                            </li>
                                            <li>
                                                کامپوننت چیست؟
                                            </li>
                                            <li>
                                                ساخت اولین کامپوننت
                                            </li>
                                            <li>
                                                در مورد App module
                                            </li>
                                            <li>
                                                استفاده از کامپوننت ها
                                            </li>
                                            <li>
                                                ساخت کامپوننت با استفاده از CLI
                                            </li>
                                            <li>
                                                internal Template
                                            </li>
                                            <li>
                                                internal Style
                                            </li>
                                            <li>
                                                انواع selector
                                            </li>
                                            <li>
                                                اولین کوییز
                                            </li>
                                            <li>
                                                Data binding
                                            </li>
                                            <li>
                                                string Interpolation
                                            </li>
                                            <li>
                                                property binding
                                            </li>
                                            <li>
                                                string interpolation vs property binding
                                            </li>
                                            <li>
                                                event binding
                                            </li>
                                            <li>
                                                expert event binding
                                            </li>
                                            <li>
                                                two-way data binding
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        پروژه مربوط به اصول اولیه
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                        خطایابی
                                    </button>
                                </h2>

                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                        درک عمین کامپوننت ها و Data-binding
                                    </button>
                                </h2>

                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">
                                        پروژه مربوط به کامپوننت ها و Data-binding
                                    </button>
                                </h2>

                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                        پروژه دایرکتیو ها
                                    </button>
                                </h2>

                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        سرویس ها و Dependency Injection
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        مسیردهی
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        observable ها
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        فرم ها
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        درک عمیف pipe ها
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        کار با API و Http request ها
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        اعتبارسنجی و route-guard
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        بهینه سازی اپلیکیشن های انگولاری و ماژولاریتی
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        انتشار و Deploy
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        Stand alone components
                                    </button>
                                </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        انیمیشن ها
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <hr>
                        <h1 class="fs-3">انگولار چیست؟ </h1>
                        <p class="course-description">
                            در دنیای توسعه‌ی وب، فریمورک‌های جاوااسکریپتی بخش بزرگی از مسیر ساخت اپلیکیشن‌های مدرن رو تشکیل می‌دن.
                            <br>
                            یکی از پرقدرت‌ترین و پرکاربردترین این فریمورک‌ها، <span
                                class="badge bg-danger">Angular</span> هست؛ یک فریمورک توسعه‌ی فرانت‌اند که توسط Google توسعه داده شده و از زمان انتشار نسخه‌ی دومش، تحولی در طراحی و توسعه‌ی اپلیکیشن‌های تحت وب ایجاد کرد.
                            <br>
                            .این پلتفرم قدرتمند براساس زبان برنامه نویسی تایپ اسکریپت (Typescript) ساخته شده است.

                            <br><br>
                            اگر دنبال ساخت اپلیکیشن‌های قدرتمند، مقیاس‌پذیر و حرفه‌ای هستی، به احتمال زیاد اسم Angular رو شنیدی.
                            <br>
                            اما واقعاً Angular چیست و چرا اینقدر محبوبه؟ این مقاله دقیق‌ترین راهنمایی هست که می‌تونی درباره Angular پیدا کنی – با توضیحات عمیق، مثال‌های کاربردی .

                        </p>
                        <div class="card bg-info">
                            <div class="card-header">
                                <label>خصوصیات اصلی و مهم انگولار عبارتند از:</label>
                            </div>

                            <ol>
                                <li>
                                     استفاده از TypeScript
                                    <p>
                                        TypeScript نسخه‌ی قوی‌تر و تایپ‌شده‌ی JavaScript هست. این یعنی:

                                    </p>
                                    <ul>
                                        <li>خطاها در زمان کامپایل مشخص می‌شن</li>
                                        <li>کد قابل نگهداری‌تر و مقیاس‌پذیرتر میشه</li>
                                        <li>تجربه برنامه‌نویسی حرفه‌ای‌تری ارائه میده</li>
                                    </ul>
                                </li>
                                <li>
                                    ساختار کامپوننت‌محور
                                    <p>در Angular هر بخش از رابط کاربری (UI) به صورت کامپوننت تعریف می‌شه. این باعث میشه کد:</p>
                                    <ul>
                                        <li>ماژولارتر باشه</li>
                                        <li>قابل تست و استفاده‌ی مجدد بشه</li>
                                        <li>به‌راحتی گسترش پیدا کنه</li>
                                    </ul>
                                </li>
                                <li>
                                    برخورداری از کتابخانه های یکپارچه که طیف گسترده ای از قابلیت ها از جمله routing،
                                    مدیریت فرم ها، ارتباط سرور - کلاینت، و ... را پوشش میدهد.
                                </li>
                                <li>
                                    برخورداری از مجموعه ای از ابزار های پرکاربرد توسعه که به شما در توسعه , ساخت ، تست و
                                    بروزرسانی کد ها کمک زیادی میکند.
                                </li>
                                <li>
                                    تامین امنیت و یکپارچگی کدها
                                </li>
                            </ol>
                        </div>

                        <hr>
                        <h2 class="d-block">تاریخچه‌ای کوتاه از Angular</h2>
                        <p>

                            نسخه‌ی اولیه‌ی Angular که به اسم AngularJS شناخته می‌شد، در سال ۲۰۱۰ معرفی شد.
                            <br>
                            ین نسخه مبتنی بر <span class="badge bg-warning text-dark">JavaScript</span> بود و هدف اصلیش ساخت اپلیکیشن‌های تک ‌صفحه‌ای (SPA) بود.
                            اما با گذشت زمان، تیم توسعه‌دهنده به این نتیجه رسید که بازنویسی کامل فریمورک ضروریه. نتیجه‌ی این بازنویسی، انتشار Angular 2 در سال ۲۰۱۶ بود ---
                            که با <span class="badge bg-info">typescript</span> نوشته شد و از اون به بعد، با نام Angular شناخته می‌شه (بدون پسوند JS).
                            <br>
                            از اون موقع به بعد، Angular به‌صورت منظم با انتشار نسخه‌های جدید در حال بهبود و ارتقاست.
                            <br>
                            آخرین نسخه‌ی پایدار این فریمورک، Angular 20 هست (تا زمان نگارش این مقاله).
                        </p>
                        <hr>
                        <h2 class="d-block">تفاوت Angular با AngularJS</h2>

                            <ul>
                                <li>
                                    <p><strong>AngularJS</strong> (نسخه 1.x) بر اساس JavaScript ساخته شده بود و از سال 2010 توسعه داده شد.</p>

                                </li>
                                <li>
                                    <p><strong>Angular</strong>  (نسخه 2 به بعد) کاملاً بازنویسی شده و با TypeScript توسعه پیدا کرده و ساختار جدیدی داره.</p>
                                </li>
                            </ul>
                        <p>
                            <strong>توجه:</strong> AngularJS از ژانویه 2022 رسماً به پایان عمر خودش رسید و دیگه پشتیبانی نمی‌شه.
                            <br>
                            پس بهتره مستقیم سراغ Angular جدید بری!
                        </p>


                        <hr>
                        <h2>یک مثال ساده از یک کامپوننت در Angular</h2>
                        <pre>
                      <code class="language-typescript">
// app.component.ts
import { Component } from '@angular/core';

@Component({
selector: 'app-root',
template: `&lt;h1&gt;سلام به دنیای Angular!&lt;/h1&gt;`,
styles: [`h1 { color: blue; }`]
})
export class AppComponent {}
                      </code>
                    </pre>

                        <p>
                            💡 در اینجا:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    <code class="not-pre">:selector</code>
                                    نام تگ HTML برای این کامپوننت
                                </p>
                            </li>
                            <li>
                                <p>
                                    <code class="not-pre">: template</code>
                                    ساختار نمایشی HTML
                                </p>

                            </li>
                            <li>
                                <p>
                                    <code class="not-pre">: styles</code>
                                   استایل داخلی
                                </p>

                            </li>
                        </ul>



                        <hr>
                        <h2>مهم‌ترین قابلیت‌های Angular</h2>
                        <p><strong>🔃 Data Binding</strong></p>
                        <p>اتصال بین داده و رابط کاربری به‌صورت خودکار و زنده انجام میشه. انواع Binding:</p>
                        <ul>
                            <li>
                                <p>

                                    Interpolation
                                    <code class="not-pre">:{{ name }}</code>
                                </p>
                            </li>
                            <li>
                                <p>

                                    Property Binding
                                    <code class="not-pre">: [src]="imagePath"</code>
                                </p>
                            </li>
                            <li>
                                <p>

                                    Event Binding
                                    <code class="not-pre">: (click)="onClick()"</code>
                                </p>
                            </li>
                            <li>
                                <p>

                                    two-way Binding
                                    <code class="not-pre">: [(ngModel)]="userName"</code>
                                </p>
                            </li>
                        </ul>
                        <hr>

                        <p><strong>🧠 Dependency Injection</strong></p>
                        <p>Angular دارای سیستم DI داخلی هست. به جای ساخت مستقیم سرویس‌ها، Angular اون‌ها رو تزریق می‌کنه.</p>
                        <p>مثال :</p>
                        <pre>
                         <code class="language-typescript">
constructor(private userService: UserService) {}
//OR
private userService = inject(UserService)
                      </code>
                    </pre>

                        <hr>

                        <p><strong>🌐 Routing</strong></p>
                        <p>Angular برای اپلیکیشن‌های SPA از سیستم مسیردهی داخلی استفاده می‌کنه.</p>
                        <p>مثال :</p>
                        <pre>
                         <code class="language-typescript">
const routes: Routes = [
  { path: 'home', component: HomeComponent },
  { path: 'about', component: AboutComponent }
];
                      </code>
                    </pre>
                        <hr>

                        <p><strong>📊 RxJS و Observables</strong></p>
                        <p>Angular برای اپلیکیشن‌های SPA از سیستم مسیردهی داخلی استفاده می‌کنه.</p>
                        <p>مثال :</p>
                        <pre>
                         <code class="language-typescript">
this.http.get('api/users').subscribe(data => {
  this.users = data;
});</code>
                    </pre>
                        <hr>

                        <table style="width: 100%; border-collapse: collapse; text-align: center;">
                            <thead>
                            <tr style="background-color: #00dddd;">
                                <th style="border: 1px solid #ccc; padding: 12px;">ویژگی</th>
                                <th style="border: 1px solid #ccc; padding: 12px;">Angular</th>
                                <th style="border: 1px solid #ccc; padding: 12px;">React</th>
                                <th style="border: 1px solid #ccc; padding: 12px;">Vue</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="border: 1px solid #ccc; padding: 10px;">نوع ابزار</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">فریمورک کامل</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">کتابخانه</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">فریمورک</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ccc; padding: 10px;">زبان اصلی</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">TypeScript</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">JavaScript/TS</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">JavaScript</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ccc; padding: 10px;">ساختار دهی</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">Opinionated</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">آزاد</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">نیمه‌ساختار یافته</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ccc; padding: 10px;">یادگیری</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">نسبتاً سخت‌تر</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">آسان‌تر</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">بسیار آسان</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #ccc; padding: 10px;">جامعه و پشتیبانی</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">خیلی قوی</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">بسیار قوی</td>
                                <td style="border: 1px solid #ccc; padding: 10px;">متوسط</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="angular-pros-cons">
                            <h3>مزایا و معایب Angular</h3>

                            <div class="pros">
                                <h4>✅ مزایا:</h4>
                                <ul>
                                    <li>ساختاردهی عالی برای پروژه‌های بزرگ</li>
                                    <li>ابزارهای داخلی پیشرفته مثل CLI و Testing</li>
                                    <li>مناسب برای تیم‌های بزرگ و پروژه‌های Enterprise</li>
                                </ul>
                            </div>

                            <div class="cons">
                                <h4>❌ معایب:</h4>
                                <ul>
                                    <li>یادگیری اولیه زمان‌بر</li>
                                    <li>حجم اولیه‌ی زیاد برای اپلیکیشن‌های کوچک</li>
                                    <li>پیچیدگی بیشتر نسبت به فریمورک‌های سبک</li>
                                </ul>
                            </div>
                        </div>

                        <hr>
                        <h4>موارد استفاده از Angular</h4>
                        <p>Angular به دلیل ساختار حرفه‌ای و ویژگی‌های پیشرفته‌اش در پروژه‌های بزرگ و سازمانی خیلی محبوبه. موارد استفاده رایج:</p>
                        <ul>
                            <li>
                                اپلیکیشن‌های تک‌صفحه‌ای (SPA)
                            </li>
                            <li>
                                پنل‌های مدیریتی و داشبوردها
                            </li>
                            <li>
                                اپلیکیشن‌های پیچیده شرکتی (Enterprise apps)
                            </li>
                            <li>
                                وب‌اپلیکیشن‌های مترقی (PWA)
                            </li>
                            <li>
                                پروژه‌هایی با تیم‌های بزرگ که نیاز به ساختار و مقیاس‌پذیری دارن
                            </li>

                        </ul>
<hr>


                        <h3 class="fw-bolder">مثالی از control flow</h3>
                        <h4 class="fw-bolder">رندر شرطی <code>( @if, @else, @switch, @case and @default )</code></h4>

                        <pre>
                            <code class="language-javascript">
@if (a > b) {
  {{a}} is greater than {{b}}
} @else if (b > a) {
  {{a}} is less than {{b}}
} @else {
  {{a}} is equal to {{b}}
}
                            </code>
                        </pre>

                        <h4 class="fw-bolder">رندر لیست ها توسط  <code>@for و @empty</code></h4>
                        <pre>
                            <code class="language-javascript">
@for (item of items; track item.name) {
  <li> {{ item.name }} </li>
} @empty {
  <li> There are no items. </li>
}
                            </code>
                        </pre>


                        <p>
                            مهم ترین مزیت این بلاک ها این است که خارج از zone پشتیبانی میشوند. در واقع استفاده از zone در انگولار کمرنگ تر و کمرنگ تر میشود
                        </p>


                        <p>برای آشنایی بیشتر با View Transaction Api می توانید مقاله زیر را مطالعه کنید</p>
                        <a class="btn btn-warning" href="https://netbasal.com/angular-v17s-view-transitions-navigate-in-elegance-f2d48fd8ceda" target="_blank">مطالعه مقاله</a>

                        <hr>

                        <h2> جمع‌بندی: آیا Angular برای تو مناسبه؟</h2>
                        <div class="card p-3">
                           <p>
                               اگه به‌دنبال یک فریمورک جامع، ساختاریافته و مقیاس‌پذیر برای ساخت اپلیکیشن‌های جدی هستی، Angular یه انتخاب فوق‌العاده‌ست. البته یادگیری اون ممکنه نسبت به فریمورک‌هایی مثل React یا Vue کمی زمان‌برتر باشه، اما امکاناتی که Angular در اختیار می‌ذاره، مخصوصاً تو پروژه‌های بزرگ، واقعاً ارزششو داره.
                           </p>
                        </div>
                 <hr>

                        <h2>
                            یادگیری انگولار

                        </h2>
                        <p>
                            انگولار فریموورک مناسبی برای یادگیری فرانت اند می باشد , با وجود پیچیدگی هایی که دارد اما
                            مسیر راه
                            روشن و مشخصی دارد , منابع انگلیسی برای این فریموورک زیاد میش باشد اما متاسفانه منبع فارسی
                            مناسبی
                            وجود ندارد. اما جای نگرانی ندارد ما یک دوره فارسی انگولار برای شما تدارک دیده ایم که از طریق
                            لینک
                            زیر میتوانید ثبت نام کنید.
                        </p>
                        <a class="btn btn-light p-3 register-course-button" target="_blank" role="button"
                           href="https://zarinp.al/496203"> ثبت نام دوره فارسی انگولار</a>


                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<script src="js/prism/prism.js"></script>
<link rel="stylesheet" href="js/playr/playr.css" />
<script src="js/playr/playr.js"></script>
<script>
    const player = new Plyr('#player');
</script>
</body>
</html>
