@import "styles/main.scss";
@import "styles/_gradient-button.scss";
@import "styles/_typography.scss";
@import "styles/_custom-bootstrap.scss";
@import "components/nav-bar/navbar.css";
@import "components/progress-bar/progress-bar.css";
@import "styles/components/components";



:root{
  --bg-color-dark:#02072a;
  --text-color-dark:#ffffff;
  --main-color:#00dddd;
}



*{
  font-family:var(--base-font-family);
  font-size:var(--base-font-size);
  line-height:var(--base-line-height);
}


body{
  background-color:var(--bg-color-dark);
  color:var(--text-color-dark);
  margin:0;
  padding: 0;
  font-weight: 400;
  height: 100vh;
}

a{
  color: white;
  text-decoration: none;
}


.about-me__description{
  line-height: 2.5rem;
}

.tab__title{
  &::after{
    right:-110px;
  }
  &::before{
    left:-110px;
  }
  &::after,&::before{
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100px;
    background-color: white;
    transform: translateY(-50%);

  }

}

.menu-bar{
  position: relative;
  display: inline-flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  margin-top: 1rem;
  padding: 0;
  li{
    padding: 0 0.5rem;

    a>i{
      font-size: 1.5rem;
    }
  }
}



















