.progress-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.progress{
    height: 0.5rem;
}
.progress-bar{
    transition: width 0.5s linear;
    background-color: var(--main-color);

}
.progress-wrapper .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

}
.progress-wrapper .title,.progress-wrapper .title >*{
    font-weight: bolder;
    font-size: 1rem;
}
.title img{
    width: 30px;
    height: 30px;
}
